<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>ホーム画面</title>
</head>
<body>
   <header>
        <!-- ロゴ -->
        <div id="logo">
            <img src="../static/img/Masarudou_01.png" alt="">
        </div>
        <!--  検索-->
        <form action="#" id="search">
            <input type="text" placeholder="キーワードを入力">
            <p></p>
        <!-- <button type="submit" aria-label="検索"></button> -->
        </form> 
        
        <nav>
            <ul>
                <li>ログイン</li>
                <li>会員登録します</li>
                <!-- <li><img src="" alt=""></li> -->
                <!-- <div class="container">
                    <div class="star-1"></div>
                </div> -->
                <!-- <li>ベル</li>
                <li>星</li> -->
                <li><i class="fa-solid fa-bell"></i></li>
                <li><i class="fa-solid fa-star"></i></li>          
            </ul>
        </nav>
    </header>
   <!-- 選択 -->
    <!-- html -->
    <!-- パンくず -->
    <ol id="bread">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">カテゴリー</a></li>
        <li><a href="#">タイトル</a></li>
    </ol>


<!-- サイドへっだー -->
<div id="manaka">
    <div id="list">
        <div>カテゴリー</div>
        <ul>
            <li>リストの項目1</li>
            <li>リストの項目2</li>
            <li>リストの項目3</li>
        </ul>
    </div>
<!-- メイン -->
<main>
    <h1>オススメ</h1>
    <div>
        <img src="" alt="">
        <p></p>
    </div>

</main>
</div>
<!-- フッター -->
<div class="footer05">
    <div class="wrap">
     <div class="box">
       <h3>まさる堂について</h3>
       <p>
        ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
       </p>
     </div>
     <div class="box">
       <h3>まさる堂について</h3>
       <ul>
         <li><a href="#">会社概要</a></li>
         <li><a href="#">公式ブログ</a></li>
         <li><a href="#">プレスリリース</a></li>
       </ul>
     </div>
     <div class="box">
       <h3>ヘルプ</h3>
       <ul>
         <li><a href="#">お問い合わせ</a></li>
         <li><a href="#">ガイド</a></li>
       </ul>
     </div>
     <div class="box">
       <h3>タイトル</h3>
       <ul>
       <li><a href="#">お問い合わせ</a></li>
       <li><a href="#">ガイド</a></li>
       </ul>
     </div>
     <div class="box">
       <h3>プライバシーと利用規約</h3>
       <ul>
       <li><a href="#">プライバシーポリシー</a></li>
       <li><a href="#">特定商取引に関する</a></li>
       </ul>
     </div>
     <p class="copyright">
       &copy; My Site
     </p>
    </div>
   </div>
<!-- <footer>
    <div id="masaru">
    <h1>まさる堂について</h1>
    <ul>
        <li>会社概要</li>
        <li>公式ブログ</li>
        <li>プレスリリース</li>
    </ul>
    </div>
    <div id="help">
    <h1>ヘルプ</h1>
    <ul>
        <li>お問い合わせ</li>
        <li>ガイド</li>
    </ul>
    </div>
    <div id="pra">
    <h1>プライバシーと利用規約</h1>
    <ul>
        <li>プライバシーポリシー</li>
        <li>特定商取引に関する</li>
    </ul>
    </div>
</footer> -->

</body>
</html>
<!-- css 検索-->
<!-- .search-form-003 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        border: 1px solid #767d83;
        border-radius: 3px;
    }
    
    .search-form-003 input {
        width: 250px;
        height: 45px;
        padding: 5px 15px;
        border: none;
        box-sizing: border-box;
        font-size: 1em;
        outline: none;
    }
    
    .search-form-003 input::placeholder{
        color: #767d83;
    }
    
    .search-form-003 button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .search-form-003 button::after {
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        content: '';
    } -->
    <!-- パンくず　ｃｓｓ -->
    <!-- .breadcrumb-001 {
        display: flex;
        gap: 0 22px;
        list-style: none;
        padding: 0;
        font-size: .9em;
    }
    
    .breadcrumb-001 li {
        display: flex;
        align-items: center;
    }
    
    .breadcrumb-001 li:first-child::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 4px;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M11.7%207.5%204%2013.8v6.8c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-4c0-.4.3-.7.7-.7h2.7c.4%200%20.7.3.7.7v4c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-6.8l-7.7-6.3h-.9zm12.1%204.4L20.3%209V3.2c0-.3-.2-.5-.5-.5h-2.3c-.3%200-.5.2-.5.5v2.9L13.3%203c-.7-.6-1.8-.6-2.5%200L.2%2011.8c-.2.2-.3.5-.1.7l1.1%201.3c.2.2.5.2.7.1l9.8-8.1h.6l9.8%208.1c.2.2.5.1.7-.1l1.1-1.3c.2-.2.1-.5-.1-.6z%22%20style%3D%22fill%3A%23333333%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        content: '';
    }
    
    .breadcrumb-001 li:not(:last-child)::after {
        display: inline-block;
        transform: rotate(45deg);
        width: .3em;
        height: .3em;
        margin-left: 10px;
        border-top: 1px solid #333333;
        border-right: 1px solid #333333;
        content: '';
    }
    
    .breadcrumb-001 a {
        color: #333333;
        text-decoration: none;
    } -->
    <!-- ローディング -->
    <!-- <div class="loading-005">
        <p>
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
    </div> -->
    
    <!-- ローディング　ｃｓｓ -->
    <!-- .loading-005 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .loading-005 span {
        display: inline-block;
        color: #2589d0;
        font-weight: 600;
        font-size: 1.5em;
        animation: animation-loading-005 1s infinite;
    }
    
    .loading-005 span:nth-of-type(2) {
        animation-delay: .1s;
    }
    
    .loading-005 span:nth-of-type(3) {
        animation-delay: .2s;
    }
    
    .loading-005 span:nth-of-type(4) {
        animation-delay: .3s;
    }
    
    .loading-005 span:nth-of-type(5) {
        animation-delay: .4s;
    }
    
    .loading-005 span:nth-of-type(6) {
        animation-delay: .5s;
    }
    
    .loading-005 span:nth-of-type(7) {
        animation-delay: .6s;
    }
    
    .loading-005 span:nth-of-type(8) {
        animation-delay: .7s;
    }
    
    .loading-005 span:nth-of-type(9) {
        animation-delay: .8s;
    }
    
    .loading-005 span:nth-of-type(10) {
        animation-delay: .9s;
    }
    
    @keyframes animation-loading-005 {
        50% {
            transform: translateY(10px);
        }
    } -->



        <!-- サイドヘッダー　ｃｓｓ -->
        <!-- .list-004 {
            border: 2px solid #2589d0;
        }
        
        .list-004 div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 10px 0;
            background-color: #2589d0;
            color: #fff;
            font-weight: 600;
        }
        
        .list-004 ul {
            list-style-type: disc;
            margin: 0;
            padding: 1em 1em 1em 2.5em;
        }
        
        .list-004 li {
            padding: .3em .3em .3em 0;
        }
        
        .list-004 li::marker {
            color: #2589d0;
            font-size: 1.1em;
        } -->

        <!-- スター -->
        <!-- .container {
            margin: 60px 20px;
            display:flex;
            flex-wrap: wrap;
            gap: 10px 50px;
          }
          
          .star-1 {
            position: relative;
            border-bottom: 50px solid #7f7fff;
            border-right: 75px solid transparent;
            border-left: 75px solid transparent;
            transform: rotate(-37deg);
          }
          
          .star-1::before {
            content: "";
            position: absolute;
            left: -75px;
            border-bottom: 50px solid #7f7fff;
            border-right: 75px solid transparent;
            border-left: 75px solid transparent;
            transform: rotate(-71.5deg);
          }
          
          .star-1::after {
            content: "";
            position: absolute;
            left: -75px;
            border-bottom: 50px solid #7f7fff;
            border-right: 75px solid transparent;
            border-left: 75px solid transparent;
            transform: rotate(71.5deg);
          } -->