<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ss.css">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>購入完了</title>
</head>
<body>
   <header>
        <!-- ロゴ -->
        <div id="logo">
            <img src="../static/img/Masarudou_01.png" alt="">
        </div>
        <!--  検索-->
        <form action="#" id="search">
            <input type="text" placeholder="キーワードを入力">
            <p></p>
        <!-- <button type="submit" aria-label="検索"></button> -->
        </form> 
        
        <nav>
            <ul>
                <li>ログイン</li>
                <li>会員登録</li>
                <!-- <li><img src="" alt=""></li> -->
                <!-- <div class="container">
                    <div class="star-1"></div>
                </div> -->
                <!-- <li>ベル</li>
                <li>星</li> -->
                <li><i class="fa-solid fa-bell"></i></li>
                <li><i class="fa-solid fa-star"></i></li>          
            </ul>
        </nav>
    </header>
   <!-- 選択 -->
    <!-- html -->
    <!-- パンくず -->
    <ol id="bread">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">カテゴリー</a></li>
        <li><a href="#">タイトル</a></li>
    </ol>


<!-- サイドへっだー -->
<div id="manaka">
    <div id="list">
        <div>カテゴリー</div>
        <ul>
            <li>リストの項目1</li>
            <li>リストの項目2</li>
            <li>リストの項目3</li>
        </ul>
    </div>
<!-- メイン -->
<main>
    <h1>購入完了</h1>
    <div>
        <table>
            <p>取引が完了しました</p>
            <input type = "button" value="評価">

            <h2>商品詳細</h2>            
            <img src="" alt="">
            <h2>商品名</h2>
            <tr>
                <th>値段</th>
            <tr>
            </tr>
            <tr>
                <th>送料</th>
            </tr>
            <tr>
                <th>購入日</th>
            </tr>
            <tr>
                <th>配送先</th>
                <th><input type = "text"></th>
            </tr>
            <tr>
                <th>出品者情報</th>
            </tr>
        </table>
    </div>

</main>
</div>
<!-- フッター -->
<footer>
    <div id="masaru">
    <h1>まさる堂について</h1>
    <ul>
        <li>会社概要</li>
        <li>公式ブログ</li>
        <li>プレスリリース</li>
    </ul>
    </div>
    <div id="help">
    <h1>ヘルプ</h1>
    <ul>
        <li>お問い合わせ</li>
        <li>ガイド</li>
    </ul>
    </div>
    <div id="pra">
    <h1>プライバシーと利用規約</h1>
    <ul>
        <li>プライバシーポリシー</li>
        <li>特定商取引に関する</li>
    </ul>
    </div>
</footer>

</body>
</html>